body{
    background-color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    font-family: 'Montserrat';
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f8f9fa;
    color: #333;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Stylisation des boutons dans le tableau */
.btn {
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-outline-danger {
    background-color: #f44336;
    color: white;
}

.btn-outline-danger:hover {
    background-color: #e53935;
}

.btn-outline-secondary {
    background-color: #ccc;
    color: white;
}

.btn-outline-secondary:hover {
    background-color: #999;
}
